APP_NAME="Sahabat Donor"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

PHP_CLI_SERVER_WORKERS=4

BCRYPT_ROUNDS=12

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=donorconnect
DB_USERNAME=dc_user
DB_PASSWORD=root

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=redis

MAIL_MAILER=smtp
MAIL_HOST=
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="Sahabat Donor"

CACHE_STORE=redis
CACHE_PREFIX=

REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379

FONNTE_TOKEN=your_fonnte_whatsapp_token

FONNTE_API_KEY=

DONORCONNECT_DEFAULT_HOSPITAL_NAME="UDD PMI Kota Padang"
DONORCONNECT_DEFAULT_HOSPITAL_ADDRESS="Jl. Sawahan Dalam II No.12, Sawahan Tim., Kec. Padang Tim., Kota Padang, Sumatera Barat 25121"
DONORCONNECT_DEFAULT_LAT=-0.944554954176654
DONORCONNECT_DEFAULT_LNG=100.3679109288369
DONORCONNECT_WAVE_1_KM=5
DONORCONNECT_WAVE_2_KM=10
DONORCONNECT_WAVE_3_KM=20
DONORCONNECT_QR_EXPIRY_MINUTES=120
